{% extends 'menu.html' %}
{% block profile %}
		<li class="nav-item active ">
      
      {% endblock %}
      {% block home %}
		<li class="nav-item  ">
      
      {% endblock %}
{% block body %}
	<div class="avatar">
	                    <img src="{{ instance.image.url }}" style="border-radius: 50%;width: 300px; margin-top: 30px ;margin-left:35%">
	        </div>	
	<div class="container" id="container" style="margin-right: 10px ; margin-top: 50px">
			
	 <div class="row" >
	<div class="col" style="margin-left:  30px;">    
	<form method="post" enctype="multipart/form-data">
		<div class="avatar">
	                    <img alt="" src={{form.image.url}}}>
	    </div>
	    {% csrf_token %}
	    {% for field in user_form %}
	  <div class="form-group row">
	    <label for="inputEmail3" class="col-sm-2 control-label ">{{ field.label_tag }}</label>
	    <div class="col-sm-10  ">
	      {{ field}}
	    </div>
	  </div>
	  
	    {% endfor %}
	    {% for field in profile_form %}
	  <div class="form-group row">
	    <label for="inputEmail3" class="col-sm-2 control-label ">{{ field.label_tag }}</label>
	    <div class="col-sm-10">
	      {{ field}}
	    </div>
	  </div>
	  
	    {% endfor %}
	    
	  <div class="form-group row">
	    <div class="col-sm-10" style="margin-left: 15%">
	      <button type="submit" class="btn btn-primary">save changes</button>
	    </div>
	  </div>
	</form>
	</div>
	</div>
	</div>

{% endblock %}